.contact-bg {
  height: 30vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url(/images/contact-bg.webp);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: var(--white-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-bg h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.4rem 0;
  letter-spacing: 4px;
}
.line div {
  margin: 0 0.2rem;
}
.line div:nth-child(1),
.line div:nth-child(3) {
  height: 3px;
  width: 70px;
  background: var(--red-secondary);
  border-radius: 5px;
}
.line {
  display: flex;
  align-items: center;
}
.line div:nth-child(2) {
  width: 10px;
  height: 10px;
  background: var(--red-secondary);
  border-radius: 50%;
}
.text {
  font-weight: 300;
  opacity: 0.9;
}
.contact-bg .text {
  margin: 1.6rem 0;
}
.contact-body {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1rem;
}
.contact-info {
  margin: 2rem 0;
  text-align: center;
  padding: 2rem 0;
  color: var(--white-secondary);
}
.contact-info span {
  display: block;
}
.contact-info div {
  margin: 0.8rem 0;
  padding: 1rem;
}
.contact-info span .fas {
  font-size: 2rem;
  padding-bottom: 0.9rem;
  color: var(--red-secondary);
}
.contact-info div span:nth-child(2) {
  font-weight: 500;
  font-size: 1.1rem;
}
.contact-info .text {
  padding-top: 0.4rem;
}
.contact-form {
  padding: 2rem 0;
  border-top: 1px solid #c7c7c7;
}
.contact-form form {
  padding-bottom: 1rem;
}
.form-control {
  width: 100%;
  border: 1.5px solid #c7c7c7;
  border-radius: 5px;
  padding: 0.7rem;
  margin: 0.6rem 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  outline: 0;
}
.form-control:focus {
  box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}
.contact-form form div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.6rem;
}

.contact-form > div img {
  width: 85%;
}
.contact-form > div {
  margin: 0 auto;
  text-align: center;
}
.contact-footer {
  padding: 2rem 0;
  
}
.contact-footer h3 {
  font-size: 1.3rem;
  color: var(--white-primary);
  margin-bottom: 1rem;
  text-align: center;
}

.contact-footer p {
  color: var(--white-tertiary);
  text-align: center;
  margin-top: 0.5rem;
}
.social-links {
  display: flex;
  justify-content: center;
}
.social-links a {
  text-decoration: none;
  width: 40px;
  height: 40px;
  color: var(--white-secondary);
  border: 2px solid var(--white-secondary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.4rem;
  transition: var(--transition-speed);
}
.social-links a:hover {
  color: var(--red-primary);
  border-color: var(--red-primary);
}

@media screen and (min-width: 768px) {
  .contact-bg .text {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .contact-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .contact-bg .text {
    width: 50%;
  }
  .contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .contact-info {
    grid-template-columns: repeat(4, 1fr);
  }
}
